body {
  background-color:rgba(55, 81, 196, 0.658);
}

.container {
	width: 330px;
	overflow: hidden;
	margin: 50px auto 0 auto;
  margin-bottom: 3em;
}

.box {
  float: left;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  border-top: none;
  border-left: none;
}

.winBox {
  border: 3px double black;
  border-radius: 4;
  color: black;
  font-size: 25px;
  width: fit-content;
  height: 50px
}

.box:hover {
  cursor: pointer;
  background-color: rgba(87, 106, 191, 0.658);
  transition: all .25s ease-in-out;
}

#box3,
#box6,
#box9 {
  border-right: none;
}

#box7,
#box8,
#box9 {
  border-bottom: none;
}

