.navBar {
  background-color: blue;
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: left;
  padding: 20px;
  margin:0;
}

.navBar li {
  margin-right: 15px;
  font-weight: 600;
}

.navBar li:hover {
  color: black;
}